<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div>
            <a href="" class="navbar-brand">Acceuil</a></div>
       
        <ul class="navbar-nav">
            <li><a routerLink="/welcome/mazen" class="nav-link">Home</a></li>
            <li><a routerLink="/user" class="nav-link"> user</a></li>

        </ul>

        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li><a routerLink="/login" class="nav-link">login</a></li>
            <li><a routerLink="/logout" class="nav-link">logout</a></li>
        </ul>


    </nav>


</header>